<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
</head>
<body>
    {% extends "my_crucible/base.html" %}

    {% block page_header %}
        <h2>Documentation</h1>
    {% endblock page_header %}

    {% block content %}

        <div class="p-3 mb-3 text-light border rounded-3" style="background-color: #455eb5;">
            <div class="container py-1">
                <li class="nav-item">
                    <a href="http://www.google.com" style="color: white"><strong>Documentation</strong></a>
                </li>
            </div>
        </div>

    {% endblock content %}
</body>
</html>