<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crucible Zwei</title>
</head>
   <style>
      div {text-align: center;}
   </style>
<body>
    {% extends "my_crucible/base.html" %}

    {% block page_header %}
        <div class="p-3 mb-4 text-white border rounded-3" style="background-color: #556278; margin-top: 60px;">
            <div class="container-fluid py-4" >
                <h1 class="display-3">&#128423; This Is My Crucible Zwei &#128423; </h1>

                <p class="lead">Whenever you learn something new about a locale, make a note summarizing what you've learned.</p>
                <a class="btn btn-primary btn-lg mt-1 bg-dark text-white"
                    href="{% url 'my_crucible:locales' %}">View Full List of Locales &raquo;</a>
            </div>
        </div>
    {% endblock page_header %}

    {% block content %}
        <br><p>My Crucible Zwei helps you keep track of your locales (and other stuff), for any locale you're interested in.<br></p>
    {% endblock content %}
</body>
</html>