<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagination</title>
</head>
<body>
    <div class="pagination">
        <span class="step-links">
                <span class="current">
                    <br>Page {{ page.number }} of {{ page.paginator.num_pages }}
                </span>
            {% if page.has_previous %}
                - <a href="?page={{ page.previous_page_number }}">Previous</a>
                - <a href="?page={{ page.first }}">First</a>
            {% endif %}
            {% if page.has_next %}
                - <a href="?page={{ page.next_page_number }}">Next</a>
                - <a href="?page={{ page.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
</body>
</html>